/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: antiquewhite;
}

.nav-bar {
    background-color: antiquewhite;
    height: 40px;
}

.nav-bar ul li {
    display: inline-block;
    margin-right: 100px;
    border-radius: 20px;

}

.nav-bar ul {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.nav-bar a {
    text-decoration: none;
    color:black;
    font-weight: 700;

}

.heading-one {
     display: inline-block;
    width: 300px;
    margin: 40px 40px;
    font-size: 100px;
    font-weight: 700;
    text-align: left;
}
.image-off{
      width: 600px;
      
      box-shadow: 10px 7px 10px black ;
      border-radius: 20px;
      padding-left: 50px;
      margin-left: 90px;
}
.work  p  {
    font-size: 40px;
    width: 1000px;
    text-align: left;
    padding: 0 200px;
    
}
.work  h1{
    font-size: 50px;
    margin: 40px;
}
.link-arrow{
    font-size: 50px;
    padding-left: 1200px;
}

.about   {
    font-size: 40px;
    width: 1000px;
    text-align: left;
    padding: 0 200px;
}
.about h1{
    font-size: 50px;
    margin: 40px;
}